<div class="left-col">
	<a href="/">
		<div class="logo">
			Sample Code
		</div>
	</a>
	<div class="list-title">
		Examples
	</div>
	<div class="col-item-list">
		{{#each samples}}
			<a href="/sample/{{lookupTitle}}">
				<div class="row-item">{{title}}</div>
			</a>	
		{{/each}}
	</div>
	<a href="/submit">
		<div class="col-item submit-sample">
			Submit Sample
		</div>
	</a>
</div>

<div class="content-col">
	<div class="recent-samples">
		<div class="header">
			<strong>Last 10 samples submitted</strong>
		</div>
		{{#each recentSamples}}
			<div class="recent-sample">
				<a href="/sample/{{lookupTitle}}"><p class="title">{{title}}</p></a>
				<p class="description">{{description}}</p>
			</div>
		{{/each}}
	</div>
</div>
