<div class="left-col">
	<a href="/">
		<div class="logo">
			Sample Code
		</div>
	</a>
	<div class="list-title">
		Examples
	</div>
	<div class="col-item-list">
		{{#each samples}}
			<a href="/sample/{{lookupTitle}}">
				<div class="row-item">{{title}}</div>
			</a>	
		{{/each}}
	</div>
	<a href="/submit">
		<div class="col-item submit-sample">
			Submit Sample
		</div>
	</a>
</div>

<div class="content-col" ng-controller="FrameworkController">
	
	<h2>Find Examples</h2>
	<form name="searchForm">
	<div class="search-examples">
		<input type="text" ng-model="search.query" placeholder="search query" required>
		<button type="submit" ng-click="searchAll(search)">Search</button>
		<div class="sort">
			Sort by:
			<select class="select-search" 
					ng-model="search.sort"
					ng-init="search.framework = '{{framework}}'; 
							 search.sort = '-date'; 
							 searchAll(search)";
					ng-change="searchAll(search)">
				<option value="relevance">Relevance</option>
				<option value="title">Alphabetical</option>
				<option value="framework">Framework</option>
				<option value="-date">Newest</option>
			</select>
			
			Amount per page:
			<select ng-model="search.amount"
					ng-init="search.amount = '20'"
					class="select-amount"
					ng-change="searchAll(search)">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
			
			Page
			<select ng-model="search.page"
					ng-init="search.page = '1'"
					class="select-search"
					ng-change="searchAll(search)">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
		</div>
		<table class="search-table"> 
			<thead>
				<td class="title">Title</td>
				<td class="date-submitted">Date Submitted</td>
				<td class="author">Author</td>
			</thead>
			<tbody>
				<tr ng-repeat="result in searchResult">
					<td ng-bind="result.title"></td>
					<td ng-bind="getFormattedDate(result.date)"></td>
					<td ng-bind="result.name"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</form>
	
	<div class="recent-samples">
		<div class="header">
			<strong>Last 10 samples submitted</strong>
		</div>
		{{#each recentSamples}}
			<div class="recent-sample">
				<a href="/sample/{{lookupTitle}}"><p class="title">{{title}}</p></a>
				<p class="description">{{description}}</p>
			</div>
		{{/each}}
	</div>
	
</div>
