<!-- left column -->
<div class="left-col">
	<a href="/">
		<div class="logo">
			Sample Code
		</div>
	</a>
	<div class="list-title">
		Examples
	</div>
	<div class="col-item-list">
		{{#each allSamples}}
			<a href="/sample/{{lookupTitle}}">
				<div class="row-item">{{title}}</div>
			</a>	
		{{/each}}
	</div>
	<a href="/submit">
		<div class="col-item submit-sample">
			Submit Sample
		</div>
	</a>
</div>

<!-- main column -->
<div class="content-col" ng-controller="SubmitController">
	
	<p class="demo-title">{{sample.title}} - Demo</p>
	
	<p class="author">Author: {{sample.name}}</p>
	
	<div class="embeded">
		{{{sample.embeded}}}
	</div>
	
	<div class="summary">
		<p class="text">Description</p>
		{{sample.description}}
	</div>
	
</div>